<%- include('partials/header', { title: '关于' }) %>

  <main class="layout hide-aside" id="content-inner">
    <div id="about">
      <div class="about-page reveal">
        <div class="about-hero">
          <% if (config.AVATAR_IMG) { %>
            <img src="<%= url(config.AVATAR_IMG) %>" alt="<%= config.BLOG_AUTHOR %>" class="about-avatar-img<%= config.AVATAR_EFFECT ? ' avatar-effect' : '' %>">
          <% } else { %>
            <div class="about-avatar"><i class="fas fa-user-astronaut"></i></div>
          <% } %>
          <h1><%= config.BLOG_AUTHOR %></h1>
          <p class="about-tagline"><%= config.BLOG_AUTHOR_BIO %></p>
          <div class="social-links">
            <% if (config.SOCIAL_GITHUB) { %><a href="<%= config.SOCIAL_GITHUB %>"><i class="fab fa-github"></i></a><% } %>
            <% if (config.SOCIAL_WEIBO) { %><a href="<%= config.SOCIAL_WEIBO %>"><i class="fab fa-weibo"></i></a><% } %>
            <% if (config.SOCIAL_TWITTER) { %><a href="<%= config.SOCIAL_TWITTER %>"><i class="fab fa-twitter"></i></a><% } %>
          </div>
        </div>
        <div class="about-content card-widget">
          <%- aboutHtml %>
        </div>
      </div>
    </div>
  </main>

<%- include('partials/footer') %>